.content_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_title {
    margin: 158px 0;
    width: 605px;
}

.about_title_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #499a18;
    padding-bottom: 40px;
    
}

.about_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #636060;
}

@media screen and (max-width: 768px){
    .about_title_title {
        padding-top: 40px;
    }

    .content_about {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .about_title_title {
        font-size: 35px;
        text-align: center;
    }

    .about_title {
        margin: 0;
    }

    .about_img {
        padding-bottom: 95px;
    }
    
}