@import url(styles.css/header.css);
@import url(styles.css/welcome.css);
@import url(styles.css/about.css);
@import url(styles.css/services.css);
@import url(styles.css/prices.css);
@import url(styles.css/contacts.css);
@import url(styles.css/footer.css);


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #010201;
}
.green {
    color: #499a18;
}

.orange {
    color: #e06733;;
}
.container {
    height: 100%;
    width: 85%;
    max-width: 1220px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}
